<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ru.bi.zone.bzt-activity</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/bzt-stream.sh</string>
        <string>hostinfo,netconn,processes,sessions,users</string>
        <string>90</string>
    </array>

    <key>StartInterval</key>
    <integer>600</integer>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/var/log/bzt-activity.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/bzt-activity.err</string>

    <key>UserName</key>
    <string>root</string>
</dict>
</plist>
